@model EmployeeViewModel

@{
    ViewData["Title"] = "Сотрудник. Добавление информации о сотруднике";
}

<div class="container">
    <h4>Добавление информации о сотруднике</h4>
    <hr />
    <form asp-action="Input" method="post">
        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondName" class="control-label"></label>
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Patronymic" class="control-label"></label>
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfEmployment" class="control-label"></label>
                    <input asp-for="DateOfEmployment" class="form-control" />
                    <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <h4><a asp-controller="Employees" asp-action="Index">Вернуться к общему списку сотрудников</a></h4>
    </div>
</div>
