@{
    string[] partials_vg = new string[] {
                "Partial/_Footer_VideoGallery",
                "Partial/_Footer_VideoGallery_2",
                "Partial/_Footer_VideoGallery_3",
                "Partial/_Footer_VideoGallery_4" };

    string[] partials_sw = new string[] {
                "Partial/_Footer_SingleWidget",
                "Partial/_Footer_SingleWidget_2",
                "Partial/_Footer_SingleWidget_3",
                "Partial/_Footer_SingleWidget_4" };
}

<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    @foreach (var namePartial in partials_vg)
                    {
                        <div class="col-sm-3">
                            <partial name="@namePartial" />
                        </div>
                    }
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="~/images/home/map.png" alt="" />
                        <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                @foreach (var namePartial in partials_sw)
                {
                    <div class="col-sm-2">
                        <partial name="@namePartial" />
                    </div>
                }
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Get the most recent updates from <br />our site and be updated your self...</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
