@model BlogCommentViewModel

<div class="media commnets">
    <a class="pull-left" href="#">
        <img class="media-object" src="/images/blog/man-one.jpg" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">@Model.Author</h4>
        <p>@Model.Comment</p>
        <div class="blog-socials">
            <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <a class="btn btn-primary" href="">Other Posts</a>
        </div>
    </div>
</div><!--Comments-->